// This file contains very basic styles.
// Set up a decent box model on the root element

html {
    background: #dfe3e8;
}

body {
    height: 100%;
    max-width: 1680px;
    margin: 0 auto;
    color: #333e48;
    background-color: #fff;
    -webkit-text-size-adjust: none;
    font-weight: 300;
    line-height: 1.33333rem;
    position: relative;
    font-family: proxima-soft, sans-serif !important;
}

main {
    background-color: #fff;
}

.homepage {
    padding-bottom: 1em;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
// Basic styles for links

a {
    text-decoration: none;
    cursor: pointer;
    @include on-event {
        color: #fff;
        text-decoration: underline;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: normal 125% / 1.4 $text-font-stack;
}


li {
    margin-left: 20px;
    list-style-type: disc;
}

// Highlighted text is brand color

::selection {
    background: $primaryTeal;
    color: #333;
}