.has-background-teal_opaque {
    background: hsla(180, 35%, 49%, .8);
}

.has-background-pink_opaque {
    background: hsla(343, 77%, 61%, .8);
}

.has-background-purple_opaque {
    background: hsla(236, 34%, 45%, .8);
}

.has-background-orange_opaque {
    background: hsla(23, 100%, 65%, .8);
}

.has-background-red_opaque {
    background: hsla(360, 100%, 65%, .8);
}

.has-background-teal {
    background: $primaryTeal;
}

.has-background-pink {
    background: $primaryPink;
}

.has-background-purple {
    background: $primaryPurple;
}

.has-background-orange {
    background: $primaryOrange;
}

.has-background-red {
    background: $primaryRed;
}

.has-color-red {
    color: $primaryRed;
}

.has-color-teal {
    color: $primaryTeal;
}

.has-color-pink {
    color: $primaryPink;
}

.has-color-purple {
    color: $primaryPurple;
}

.has-color-orange {
    color: $primaryOrange;
}