.has-background-teal {
    background: $primaryTeal;
}

.has-background-pink {
    background: $primaryPink;
}

.has-background-purple {
    background: $primaryPurple;
}

.has-background-orange {
    background: $primaryOrange;
}

.has-background-red {
    background: $primaryRed;
}