.rates {
    .article--hero_right {
        @include article-hero-right(url('/img/article/rates-hero.jpg'));
    }
    .wave-section {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .card {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
    .columns {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        @include mq(medium) {
            flex-direction: row;
        }
    }
}
