.schedule-millburn {
    .article--hero_left {
        @include article-hero-left(url('/img/article/schedule-hero.jpg'));
        height: initial;
        @include mq(small) {
            height: 450px;
        }
        .article--hero-content {
            height: initial;
            width: 300px;
            @include mq(small) {
                width: 450px;
                height: 450px;
            }
        }
    }
}

.schedule-glenRidge {
    .article--hero_left {
        @include article-hero-left(url('/img/article/glen-ridge-hero.jpg'));
    }
}
