.teacher-training-200 {
    position: relative;

    .article--hero_left {
        @include article-hero-left(url('/img/article/teacher-training-200-hero.jpg'));
    }
}

.teacher-training-300 {
    position: relative;

    .article--hero_left {
        @include article-hero-left(url('/img/article/teacher-training-300-hero.jpg'));
    }
}

.teacher-training-callout {
    &-200 {
        margin-top: 1.25em;
        background-color: $primaryTeal;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        z-index: 1;

        > div {
            padding-top: 2em;
            padding-bottom: 2em;
            text-align: center;
        }

        @include mq(medium) {
            margin-top: 0;
            position: absolute;
            top: 4%;
            right: 0;
            width: 575px;
        }
    }

    &-curriculum {
        display: flex;
        justify-content: space-between;

        div {
            margin: 0 1.25em;
        }

        p {
            color: #fff;
            margin-bottom: 0;
        }
    }
}

.teacher-training-callout-300 {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: $primaryOrange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-align: center;
    z-index: 1;
    div {
        margin: 0 auto 24px;
        max-width: 425px;
        li {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            list-style-type: decimal;
        }
    }
    @include mq(medium) {
        position: absolute;
        top: 3%;
        right: 0;
        width: 575px;
    }
}

.testimony-circle-200 {
    position: absolute;
    right: 50px;
    top: calc(50% - 68em);
    width: 475px;
    height: 475px;
    padding: 100px 60px 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100;

    @include mq(medium) {
        top: calc(50% - 85em);
    }

    @include mq(large) {
        top: calc(50% - 75em);
    }
}

.testimony-circle-300 {
    position: absolute;
    right: 50px;
    top: calc(50% - 68em);
    width: 475px;
    height: 475px;
    padding: 100px 60px 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include mq(medium) {
        top: calc(50% - 15em);
    }

    @include mq(large) {
        top: calc(50% - 10em);
    }
}

.has-bigass-zindex {
    @include mq(medium) {
        z-index: 10000;
    }
}

.has-bigass-zindex-neverender {
    z-index: 10000;
}

.apply-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq(small) {
        flex-direction: row;
    }
    .btn-cta {
        margin-bottom: 1em;
        @include mq(small) {
            margin-bottom: 0;
            margin-right: 1em;
        }
    }
}
