.teacher-training-200 {
    position: relative;
    .article--hero_left {
        @include article-hero-left(url("/img/article/teacher-training-200-hero.jpg"));
    }
}

.teacher-training-300 {
    position: relative;
    .article--hero_left {
        @include article-hero-left(url("/img/article/teacher-training-300-hero.jpg"));
    }
}

.teacher-training-callout {
    &-200 {
        background-color: #51a8a8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        z-index: 1;
        > div {
            padding-top: 2em;
            padding-bottom: 2em;
            text-align: center;
        }
        @include mq(medium) {
            position: absolute;
            top: 10%;
            right: 0;
            width: 575px;
        }
    }
    &-curriculum {
        display: flex;
        justify-content: space-between;
        div {
            margin: 0 1.25em;
        }
        p {
            color: #fff;
            margin-bottom: 0;
        }
    }
}

.teacher-training-callout-300 {
    position: absolute;
    top: -64px;
    right: 0;
    background: url("/img/article/teacher-training/callout-bg-300.svg");
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimony-circle-200 {
    position: absolute;
    right: 50px;
    top: calc(50% - 68em);
    width: 475px;
    height: 475px;
    padding: 100px 60px 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100;
    @include mq(medium) {
        top: calc(50% - 85em);
    }
    @include mq(large) {
        top: calc(50% - 75em);
    }
}

.testimony-circle-300 {
    position: absolute;
    right: 50px;
    top: calc(50% - 68em);
    width: 475px;
    height: 475px;
    padding: 100px 60px 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @include mq(medium) {
        top: calc(50% + 15em);
    }
    @include mq(large) {
        top: calc(50% - 64em);
    }
}

.has-bigass-zindex {
    z-index: 10000;
}
