.alert-banner {
  position: fixed;
  bottom: 0;
  background: $primaryPurple;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 18px 24px;
  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &--left {
    display: flex;
    flex: 1;
    align-items: center;
  }
}