.btn-cta {
    display: inline-block;
    padding: .85em 3.75em .95em;
    border-radius: 8px;
    font-weight: 700;
    -webkit-transition: 150ms ease;
    transition: 150ms ease;
    -webkit-transition-property: background-color border-color color;
    transition-property: background-color border-color color;
    text-align: center;
    user-select: none;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: $primaryRed;
    color: #ffffff;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    transition: all 0.3s cubic-bezier(0.49, 0.99, 0.54, 0.98);
    &:hover {
        color: #fff;
        background: hsla(360, 68%, 55%, 1);
        text-decoration: none;
    }
}

.btn-ghost {
    background: #fff;
    border: 1px solid $primaryRed;
    color: $primaryRed;
    padding: .7em 3.15em .8em;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.10);
    border-radius: 8px;
    font-weight: 600;
    transition: .35s ease-in-out;
    &:hover {
        background: hsla(360, 68%, 55%, 1);
        color: #fff;
        text-decoration: none;
    }
}

.btn-ghost-transparent {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: .85em 3.75em .95em;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.10);
    border-radius: 8px;
    font-weight: 600;
    transition: .35s ease-in-out;
    &:hover {
        background: #fff;
        color: $paragraphColor;
        text-decoration: none;
    }
}

.btn-submit {
    padding: 0 3em;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.nav-cta {
    background: $primaryTeal;
    padding: 0.5em 1em;
    color: white;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.49, 0.99, 0.54, 0.98);

    &:hover {
        color: #fff;
        background: darken($primaryTeal, 15%);
        text-decoration: none;
    }
}