.global--icon-info {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  > img {
    width: 15px;
  }
  > h4 {
    margin: 0 .25em;
  }
  > p {
    margin: 0 .25em;
  }
}

.has-bg-teal {
  background: url('/img/backgrounds/section-bg_teal.svg') no-repeat center center;
  background-size: cover;
}

.has-bg-teal_big {
  background: url('/img/backgrounds/section-bg_teal_big.svg') no-repeat center center;
  background-size: cover;
}

.has-bg-teal_alt {
  background: url('/img/backgrounds/section-bg_teal_alt.svg') no-repeat center center;
  background-size: cover;
}