.global--icon-info {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  > img {
    width: 15px;
  }
  > h4 {
    margin: 0 .25em;
  }
  > p {
    margin: 0 .25em;
  }
}

.wave-section {
  @include mq (medium) {
    display: flex;
    align-items: center;
    height: 850px;
  }
  @include mq (large) {
    height: 900px;
  }
}

.has-bg-teal {
  background: url('/img/backgrounds/section-bg_teal.svg') no-repeat center center;
  background-size: cover;
}

.has-bg-teal_big {
  background: url('/img/backgrounds/section-bg_teal_big.svg') no-repeat center center;
  background-size: cover;
}

.has-bg-teal_alt {
  background: url('/img/backgrounds/section-bg_teal_alt.svg') no-repeat center center;
  background-size: cover;
}

.has-bg-purple {
  background: url('/img/backgrounds/section-bg_purple.svg') no-repeat center center;
  background-size: cover;
}

.has-bg-purple-small {
  background: url('/img/backgrounds/section-bg_purple_small.svg') no-repeat center center;
  background-size: cover;
}

.has-bg-orange {
  background: url('/img/backgrounds/section-bg_orange.svg') no-repeat center center;
  background-size: cover;
}
