.popup-box {
    padding: 1.45em;
    h2 {
      margin-top: 7.5px;
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 600;
      color: #e84d79;
    }
    h3 {
      margin-top: 2.5px;
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 600;
      color: #e84d79;
    }
    p {
        font-size: 16px;
        @include mq(small) {
            font-size: 20px;
        }
    }
    small {
        display: block;
        margin-top: .65em;
        font-size: 12px;
    }
}

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color: $primaryTeal;
    display:none;
  }  
  #boxes .window {
    position:absolute;
    left:0;
    top:0;
    max-width: 600px;
    display:none;
    z-index:9999;
    padding:20px;
    border-radius: 15px;
    text-align: center;
  }
  #boxes #dialog {
    width:350px; 
    height:auto;
    padding:10px;
    background-color:#ffffff;
    font-size: 14px;
    @include mq(small) {
      background: url(/img/sweeteners/classes-mandala-2.png), white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -130px;
      background-position-y: 300px;
    }
  }
  .maintext{
    text-align: center;
    text-decoration: none;
  }
  .agree:hover{
    background-color: #D1D1D1;
  }
  .popupoption:hover{
      background-color:#D1D1D1;
      color: green;
  }
  .popupoption2:hover{
      
      color: red;
  }

  @media (min-width: 768px) {
    #boxes #dialog {
        width:600px; 
      }
  }