.homepage {
    &--hero {
        height: 400px;
        background: url('/img/homepage/hero.jpg') no-repeat center center;
        background-size: cover;

        @include mq(small) {
            height: 900px;
        }
    }

    &--intro {
        padding: 50px 0;

        @include mq(small) {
            padding: 125px 0;
        }

        &_top {
            @include mq(medium) {
                display: flex;
                align-items: center;
                flex-direction: row;
            }
        }
    }

    &--callout {
        height: 600px;
        background: url('/img/homepage/betsy.jpg') no-repeat left;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        > div {
            height: 600px;
            padding: 60px 50px 80px 50px;
            background: hsla(236, 34%, 45%, .95);
            @include mq (small) {
                width: 500px;
                padding: 100px 52px 200px 52px;
            }
        }
    }

    &--icons {
        .column {
            align-items: flex-start;
            @include mq (medium) {
                max-width: 535px;
            }
            img {
                margin-right: 1.25em;
            }
        }
    }

    &--ytt {
        align-items: center;
        margin-top: 8em;
        &_box {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                max-width: 125px;
            }
        }
        .has-background-orange {
            position: relative;
            left: 5%;
        }
        .has-background-pink {
            position: relative;
            right: 5%;
        }
    }
    &--studios {
        color: #fff;
        img {
            @include mq (small) {
                max-width: 500px;        
            }
        }
    }
}