.homepage {
    &--hero {
        height: 400px;
        background: url('/img/homepage/hero-2.jpg') no-repeat center center;
        background-size: cover;

        @include mq(small) {
            height: 900px;
            background: url('/img/homepage/hero.jpg') no-repeat center center;
            background-size: cover;
        }
    }

    &--intro {
        padding: 50px 0;

        @include mq(small) {
            padding: 125px 0;
        }

        > div {
            display: flex;
            flex-direction: column;

            @include mq(medium) {
                display: block;
            }
        }

        &_top {
            order: 2;

            @include mq(medium) {
                order: 1;
                display: flex;
                align-items: center;
                flex-direction: row;
                background-color: #fff;
            }
        }

        &_bottom {
            order: 1;
            padding: 0 36px;

            @include mq(medium) {
                order: 2;
                padding: 0;
            }
        }
    }

    &--callout {
        height: 100%;
        background: url('/img/homepage/betsy.jpg') no-repeat left;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include mq(small) {
            height: 600px;
        }

        > div {
            height: 100%;
            padding: 60px 50px 80px 50px;
            background: hsla(236, 34%, 45%, 0.95);

            @include mq(small) {
                height: 600px;
                width: 500px;
                padding: 100px 52px 200px 52px;
            }
        }
    }

    &--icons {
        .column {
            align-items: flex-start;

            @include mq(medium) {
                max-width: 535px;
            }

            img {
                max-width: 78px;
                margin-right: 1.25em;
                flex: 1 0 auto;
            }
        }
    }

    &--ytt {
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        margin-top: 3em;
        @include mq(small) {
            margin-top: 8em;
            margin-left: -0.75rem;
            margin-right: -0.75rem;
        }

        &_box {
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include mq(small) {
                max-width: 400px;
            }

            img {
                max-width: 125px;
            }
        }

        .has-background-orange {
            position: relative;
            @include mq(small) {
                left: 5%;
            }
        }

        .has-background-pink {
            position: relative;
            @include mq(small) {
                right: 5%;
            }
        }
    }

    &--studios {
        color: #fff;

        img {
            @include mq(small) {
                max-width: 500px;
            }
        }
    }
}
